<h1>Search</h1>

<%= form_tag search_index_path, method: :get do %>
  <p>
    <%= text_field_tag :search_term, params[:search_term] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<section class="results">
  <% @results.each do |user| %>
    <h3><%= user.username %></h3>
    <div class="bio">
      <p><%= user.email %></p>
    </div>
  <% end %>
</section>