<nav class="navbar navbar-inverse jumbotron">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class ="display-1"><%= link_to 'QuestionBox', posts_path, class: "questionbox" %>
      </div>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if !current_user %>
        <li class="pb-2"><%= link_to "Login", new_session_path %> </li>
        <li class="pb-2"><%= link_to "Register Account", new_user_path %></li>
        <li class="pb-2"><%= link_to 'Back', root_path %></li>
      <% else %>
        <li class="pb-2"><%=link_to current_user.username.capitalize, user_path(id:current_user.id)  %></li>
        <li class="pb-2"><%= link_to "Log Out", session_path, method: :delete %></li>
        <li class="pb-2"><%= link_to 'Back', root_path %></li>
      <% end %>
    </ul>
  </div>
</nav>

<h1 class='h3 mt-5 mb-3 font-weight-normal text-center'>Search for Posts</h1>


  <div class="row justify-content-center"> 
    <%= form_tag search_index_path, method: :get do %>
    <%= text_field_tag :search_term, params[:search_term] %>
    <%= submit_tag "Search", name: nil %>
    <% end %>
  </div>

<br>
  <div>
    <% @results.each do |post| %>
      <div class = "loop"
        <p class ="resultsbody"><%= post.body %></p>
        <p class= "resultsid">Posted by: <%= User.find(post.user_id).username.capitalize %></p> 
        <p>Posted On: <%= post.created_at.strftime("%B %d %Y, %l:%M%P") %></p>
      </div>
      <br>
    <% end %>
