<div class="jumbotron"><h1>Welcome to Forum</h1></div>

<div>
    <% if !current_user %>
    <%= link_to "Login", new_api_session_path %>
    <%= link_to "Register Account", new_api_user_path %>
    <% else %>
    <%= link_to "Log Out", api_session_path, method: :delete %>
    <% end %>
</div>


<%= link_to 'Ask a new question', new_api_post_path %>

<div>
  <div class='form-signin col-md-6 offset-md-3'>
  <% @posts.each do |post| %>
   
        <div class="form-group"><%= post.question %></div>
        <div class="form-group"><%= post.body %></div>
        <div class="form-group"><%= post.user_id %> </div>
        <div class="form-group"><%= link_to 'Show', api_post_path(post) %></div>
    
  <% end %>
  </div>
</div>