<h1>Post Details</h1>

<p>
  <strong>Question:</strong>
  <%= @post.question %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>User_id:</strong>
  <%= @post.user_id %>
<p>

<p>
    <% if current_user.id == @post.user_id %>
        <%= link_to 'Destroy', api_post_path, method: :delete %>
    <% end %>
</p>

<p>
    <% if current_user %>
    <%= link_to 'Comment', new_api_post_comment_path(post_id:@post.id) %>	
    <% end %>
</p>