<nav class="navbar navbar-inverse jumbotron">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class ="display-1"><%= link_to 'QuestionBox', posts_path %>
      </div>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if !current_user %>
      <li><%= link_to "Login", new_session_path %> </li>
      <li><%= link_to "Register Account", new_user_path %></li>
      <% else %>
      <li>Logged in as: <%=current_user.username %></li>
      <li><%= link_to "Log Out", session_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
</nav>
<div>
<%= paginate @posts %> 
<%= page_entries_info @posts %>
</div>
<div>
  
  <% @posts.each do |post| %>
    <div class="card border-secondary text-center" style="width: 30rem;">
        <div class="card-body">
          <h3 class="card-title">
          <%= post.question %>
          </h3>
        </div>
          <p class="card-text">
          <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(post.body).html_safe %>
          </p>
          <p class="card-text">
          <%= link_to User.find(post.user_id).username, user_path(id: post.user_id)  %>
          </p>
          <p class="card-text">
          <%= link_to 'Show', post_path(post) %>
          </p>
  <% end %>
        
    </div>
</div>