<nav class="navbar navbar-inverse jumbotron">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class ="display-1"><%= link_to 'QuestionBox', posts_path, class: "questionbox" %>
      </div>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if !current_user %>
      <li><%= link_to "Login", new_session_path %> </li>
      <li><%= link_to "Register Account", new_user_path %></li>
      <% else %>
      <li><%=link_to current_user.username.capitalize, user_path(id:current_user.id)  %></li>
      <li><%= link_to "Log Out", session_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
</nav>
<div>
<% if notice %>
  <p class="alert alert-info mt-4" role="alert"><%= notice %></p>
<% end %>
</div>
<
<h1 class="text-center pb-5 mb-5">Post Details</h1>
<div class = "row">
  <div class="col-md-6 offset-md-3">
      <strong>Question:</strong>
  </div>
  <div class="col-md-6 offset-md-3">
    <%= @post.question %>
  </div>
  <br>
  <br>
  <div class="col-md-6 offset-md-3">
  <strong>Body:</strong>
  </div>
  <div class="col-md-6 offset-md-3">
  <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(@post.body).html_safe %>
  </div>
  <div class="col-md-6 offset-md-3">
  <strong>Username:</strong>
  </div> 
  <div class = "col-md-6 offset-md-3">
  <%= User.find(@post.user_id).username.capitalize %>
  </div>
</div>
  <div class = "text-center pb-2">
    <% if current_user == User.find(@post.user_id) %>
      <button type="button" class="btn btn-light mr-2">
        <%= link_to 'Destroy', post_path(@post), method: :delete %>
      </button>
    <% end %>
    <% if current_user %>
     <button type="button" class="btn btn-light">
    <%= link_to 'Comment', new_post_comment_path(post_id:@post.id) %>	
     </button>
    <% end %>
  </div>
<br>

<h3 class = "text-center pt-3 mt-3">
Replies
</h3>
<div class = "col-md-6 offset-md-3">
    <% @comments.each do |comment| %>
      <strong>Comment:</strong>  
        <%= (comment.body) %>
        <br>
        <br>
      <strong>By User:</strong> 
        <%= link_to User.find(comment.user_id).username.capitalize, user_path(id: comment.user_id) %>
        <br>
      <p class = "pt-2 pb-3">
        <% if comment.user_id === current_user.id %>
          <button type="button" class="btn btn-light">
            <%= link_to 'Delete', post_comment_path(@post, comment), local: true, method: :delete %>
          </button>
          <button type="button" class="btn btn-light">
            <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
          </button>
        <% end %> 
      </p>
    <% end %>
  
</div>

