<nav class="navbar navbar-inverse jumbotron">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class ="display-1"><%= link_to 'QuestionBox', posts_path %>
      </div>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if !current_user %>
      <li><%= link_to "Login", new_session_path %> </li>
      <li><%= link_to "Register Account", new_user_path %></li>
      <% else %>
      <li>Logged in as: <%=current_user.username %></li>
      <li><%= link_to "Log Out", session_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
</nav>
<div>
<%= paginate @posts %> 
<%= page_entries_info @posts %>
</div>

<h1>Post Details</h1>

<p>
  <strong>Question:</strong>
  <%= @post.question %>
</p>

<p>
  <strong>Body:</strong>
  <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(@post.body).html_safe %>
</p>

<p>
  <strong>Username:</strong>
  <%= User.find(@post.user_id).username %>
<p>

<p>
    <% if current_user == @post.user_id %>
        <%= link_to 'Destroy', post_path(@post), method: :delete %>
    <% end %>
</p>

<p>
    <% if current_user %>
    <%= link_to 'Comment', new_post_comment_path(post_id:@post.id) %>	
    <% end %>
</p>

<br>
<div>
 <% @comments.each do |comment| %>
   <em>By User:</em> <%= User.find(comment.user_id).username %><br>
   <em>Comment Body</em>  <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(comment.body).html_safe %>
  <br>
 <% end %>
</div>

